// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$amarelo:    #fbee21;
$laranja-fundo: #f78b28;

ion-row {
    text-align: center;
    color: #222;
}

// .descricao{
//     min-height: 12rem;
//     // background: #fff;
//     // border-radius: 0.7rem;
// }

// .label-cadastro{
//     font-size: 1.6rem;
// }
// .input-cadastro{
//     background: #fff;
//     border-radius: 0.7rem;
// }
textarea{
    min-height: 12rem;
}

.label-cadastro{
    font-size: 1.7rem !important;
}

.item{
    // background: transparent;
    border-radius: 0.7rem;
}

h1{
    font-size: 3.5rem;
    color: $laranja-fundo;
}
.icon {
    font-size: 6rem;
}

.menuButton {
    min-height: 15rem;
    font-size: 3rem;
    border-radius: 2.5rem;
}

.center{
    text-align: center;
}
ion-header{
    div{
        background: $amarelo !important;
    }
}
ion-content {
    background: $amarelo; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($amarelo, $laranja-fundo); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($amarelo, $laranja-fundo); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($amarelo, $laranja-fundo); /* For Firefox 3.6 to 15 */
    background: linear-gradient($amarelo, $laranja-fundo); /* Standard syntax */
}
